body{
    background-color: #c5d7ee;
    Font-size:20px;
}
.title{
    text-align:center;
    padding-top:10%;
    padding-bottom: 5%;
}
.loginform{
    padding:4%;
    display:flex;
    justify-content: center;
 }
.projects{
    display:flex;
    padding-top: 5%;
    width:100%;
    justify-content: space-around;
}
.project{
    display:flex;
    margin: 2%;
}
.card-header h4{
    background-color: #f8f8f8;
}
.newbutton{
    float:right;
    margin-right: 5%;
}
.buttons{
    display:flex;
    align-items: center;
    justify-content: space-between ;
}
.projectbutton{
    float:left;
    margin: 5% 0 0 5%;
}
.logoutbutton{
    float:right;
    margin: 5% 5% 0 0;
}
.body{
    background-color:#c5d7ee;
}
.newproject{
    padding: 0 20% 0 20%;
}
.projectdetails{
    width:100%;
    display:inline-flex;
    align-content: space-between;
}
.factsmain{
    float:left;
    width:70%;
}
.factsmain h2{
    padding-left: 10%;
}
.facts{
    padding-left: 13%;
}
.information{
    width:30%;
    align-items: center;
    padding:0 3% 2% 3%;
}
.information h2{
    padding-left: 4%;
}
button{
    width:100%;
}
.groupmembers{
    margin-top:3%;
}
.addfact{
    display:flex;
    justify-content: center;
    margin-top:3%;
}
.addfact a{
    margin: auto;
}
.addfact button {
    width: auto;
}
.newverbalisation{
    width: 80%;
    background-color: #c5d7ee;
}
.predicatetable{
    width: 100%;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    background-color: white;
    border: black;
}
.predicatetable tbody{
    background-color: white;
}
.predicatetable td, th{
    padding-left: 8%;
}

.supertype{
    display:flex;
    align-items: center;
    justify-content: space-around ;
}
.subtypename{
    margin: 2% 0 2% 0;
    display:flex;
    align-items: center;
    justify-content: space-around ;
}
.subtypeoptions{
    margin-left: auto;
    margin-right: auto;
    width:80%;
}
.addsubtypestogroup{
    margin-left: auto;
    margin-right: auto;
    width:80%;
}
.namesubtype{
    display:flex;
    align-items: center;
    justify-content: space-around ;
}
.attribute{
    display:flex;
    align-items: center;
    justify-content: space-around ;
}
.instructiontext{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.factbuttons{
    display:flex;
    align-items: center;
    justify-content: space-around ;
}
.analysis{
    padding:3% 0 3% 0;
    padding-left:15%;
}
.analysis th, td{
    width:300px;
}
.attribuutInPredicate{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin: 3%;
}
.relationname{
    display:flex;
    align-items: center;
    justify-content: space-around ;
}
.relatie{
    margin:4%;
}
.relatieanalysis{
    margin:4% 0 4% 0;
}
.newBusinessRule{
    margin-bottom:4%;
    margin-left:auto;
    margin-right:auto;
}
.businessrules{
    margin:0% 4% 0% 4%;
}
.newbusinessrules{
    margin:4% 0 4% 0;
}












